*{margin: 0px; padding: 0px; }
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{background: #111111; font-family: "Poppins", sans-serif;}

.container-fluid{padding: 0px 40px;}
.text-common{color:#fa5b0f;}


.btn-common{padding: 10px 25px !important; color: #fff; border: 1px solid #fa5b0f; border-radius: 30px !important;
font-weight: 600 !important; position: relative; margin-top: 20px;}

.btn-common .icon{position: absolute; top: 0px; right: 5px; background: #fa5b0f; border-radius: 100%; width: 35px;
height: 35px; margin-top: 5px;}
.btn-common .icon svg{color: #fff !important; font-size: 30px !important;}

.iconBtn{padding-right: 60px !important; overflow: hidden;}
.iconBtn::after{content: ''; width: 0px; height: 100%; background: #fa5b0f; position: absolute; top: 0px;
right: 0px; z-index: -1; transition: all 0.3s ease-in-out;}

.iconBtn:hover:after{width:100%}

.hd{font-size: 60px; text-transform: uppercase; color: #fff; font-weight: 900; position: relative;}
.hd span{color: #fa5b0f;}
.hd .title-bg{color: rgba(255, 255, 255, 0.07) !important; font-size: 100px;
          position: absolute;
          top: -30px;
          left: -60px; font-weight: 900; opacity: 0.5;}

.homePage{width: 100%; height: 100vh; position: relative; overflow: hidden;}
.homePage::before{content: '';
     width: 400px;
     height: 150%;
     position: absolute;
     top: -30px;
     background: #fa5b0f;
     transform: rotate(-20deg);
     left: -50px;}


 .homePage .wrapper{height: 100vh; padding: 45px 0px}
 .homePage .imgWrap{width:85%; height: auto; background: #000; border-radius: 30px; overflow: hidden;}  
 .homePage .imgWrap img{width: 100% !important; height: auto !important;}

 .homePage .wrapper .col-md-8{padding: 30px 100px;}
 .homePage .wrapper h1{font-size: 50px; font-weight: 900 !important;}
 .homePage .wrapper .line{display: block; width: 50px; height: 5px; background: #fa5b0f; position: relative; top: 20px;
 border-radius: 10px;}
 .homePage .wrapper p{line-height: 30px; font-size: 17px; font-weight: 200; opacity: 0.7;}

 nav{position: fixed; top: 20%; right: 0%; z-index: 1000;}

.aboutPage{padding: 55px 100px;}
.aboutPage h2{font-size: 25px; margin-bottom: 25px; font-weight: 900;}


.aboutWrapper .part1 h4{color: rgba(255,255,255,0.7);font-size: 16px; margin-bottom: 20px;}
.aboutWrapper .part1 h4 span{color: #fff;}
.aboutWrapper .part1 h4 .smm{font-size: 15px;}
.aboutWrapper .part2 .boxes{display: flex; flex-wrap: wrap; gap: 20px;}
.aboutWrapper .part2 .boxes .box{width: 47%; height: 150px; border: 1px solid rgba(255, 255, 255, 0.2); 
  border-radius: 7px; padding: 20px;}
.aboutWrapper .part2 .boxes .box .count{color: #fff; font-size: 50px; font-weight: 900;}
.aboutWrapper .part2 .boxes .box .count span{font-size: 20px; font-weight: 600; position: relative; top: 10px;}
.aboutWrapper .part2 .boxes .box h4{font-size: 16px; font-weight: 200; color: #fff; opacity: 0.8;}
.aboutWrapper .part2 .boxes .box .line{display: block; background: #fff; opacity: 0.8; width: 40px; height: 1px;
position: relative; top: 5px;}



.skillSection h2{font-weight: 900;}
.skillSection .countSpiner{width: 120px !important; margin: auto;}

.skillSection .col-md-3{margin: 30px 0px;}
.skillSection .col-md-3 h4{font-size: 16px;}

.divider{width: 40%; height: 1px; background: rgba(255, 255, 255, 0.1); margin: auto;}

.experienceSection .box{margin: 30px 0px;}
.experienceSection .box .badge{ background: #252525 !important; color: #fff !important; border-radius: 10px !important;
text-align: center; padding: 7px 10px !important;}

.experienceSection .box h4{font-size: 18px; color: #fff; font-weight: 500;}
.experienceSection .box h4 span{font-size: 15px; opacity: 0.8;}
.experienceSection .box p{font-weight: 200; opacity: 0.7;}
.experienceSection .box .icon{background: #fa5b0f; width: 40px; height: 40px; position: relative; transition: all 0.3s ease;}
.experienceSection .box .icon::after{content: ''; width: 1px; height: 85px; background: rgba(255, 255, 255, 0.1);
position: absolute; top: 100%; left: 50%;}
.experienceSection .box .icon svg{color: #fff !important;}
.experienceSection .box:hover .icon{background: rgba(255, 255, 255, 0.2);}

.portfolioPage{padding: 45px 55px;}
.portfolioPage .hd .title-bg{color: rgba(255, 255, 255, 0.07) !important;
  font-size: 120px;
  position: absolute;
  top: -40px;
  left: -10px;
  font-weight: 900;
  opacity: 0.5;}

.portfolioPage .wrapper{display: flex; flex-wrap: wrap; gap: 25px;}  
.portfolioPage .wrapper .box{width: 30%; height: 180px; background: #ccc; border-radius: 10px; overflow: hidden;
position: relative; cursor: pointer;}
.portfolioPage .wrapper .box img{width: 100% !important; height: auto !important; transition: all 0.3 ease-in-out;}
.portfolioPage .wrapper .box .overlay{position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; background: rgba(255, 255, 255, 0.7); z-index: 100%; opacity: 0;
transition: all 0.3s ease-in-out;}
.portfolioPage .wrapper .box .overlay svg{color: #fa5b0f !important; font-size: 40px !important;}
.portfolioPage .wrapper .box .overlay h3{position: absolute; bottom: 10px; left: 0px; width: 100%; text-align: center;
color: #fff; font-size: 20px; font-weight: 700;}
.portfolioPage .wrapper .box img{width: 100% !important; height: auto !important; transition: all 0.3 ease-in-out;}
.portfolioPage .wrapper .box:hover img{ transform: scale(1.2);}
.portfolioPage .wrapper .box:hover .overlay{opacity: 1;}

.contactPage p{ font-weight: 200 !important;}
.contactPage .info svg{color: #fa5b0f !important; font-size: 40px !important;}
.contactPage .info span{font-size: 16px !important; color: #fff; opacity: 0.7;}
.contactPage .info label{font-size: 16px !important; color: #fff; margin: 0px;}

.socials li{margin-right: 15px !important;}
.socials li button{border-radius: 100% !important; color: #fff; background: rgba(255, 255, 255, 0.1) !important;
min-height: 40px !important; width: 40px !important; height: 40px !important; transition: all 0.3 ease-in-out;}
.socials li button svg{font-size: 20px !important;}
.socials li button:hover{background: #fa5b0f !important;}

.contactPage form{width: 100%;}
.contactPage form .input{color: rgba(255, 255, 255, 0.9); width: 100%; height: 46px; background: #252525;
border-radius: 30px !important; border: 0px !important; outline: none !important; padding: 0px 20px !important;
transition: all 0,3s ease-in-out; font-size: 16px;}
.contactPage form .input:focus{border: 1px solid #fa5b0f !important;}
.contactPage form textarea.input{height: 150px !important; padding-top: 20px !important;}